{% extends 'base.html' %}
<!-- load CrispForm -->
{% load crispy_forms_tags %}
<!-- Load Static -->
{% load static %}

<!-- block content -->

{% block content %}

<h2 class="text-center">{{title}}</h2>
<hr />

<!-- Show Msg -->
{% if messages %}
<ul class="messages">
  {% for message in messages %}

  <li {% if message.tags %} class="{{message.tags}}" {%endif%}>{{message}}</li>

  {% endfor %}
</ul>

{% endif %}

<div class="row">
  <div class="col-lg-9 col-md-8 col-12 mx-auto">
    <form action="." method="post">
      {% csrf_token %}
      <div class="form-group">{{ form.name }}</div>
      <div class="form-group">
        {% if valueBtn == 'Add' %}
        <button
          class="btn btn-success btn-sm float-end mt-2"
          value="{{ valueBtn }}"
        >
          <span class="fa fa-plus mx-1"></span>Create
        </button>
        {% else %}
        <button
          class="btn btn-success btn-sm float-end mt-2"
          value="{{ valueBtn }}"
        >
          <span class="fa fa-edit"></span>Update
        </button>
        {% endif %}
      </div>
    </form>
    {% for field in form %} {% for error in field.errors %}
    <p class="text-danger">{{ error|escape }}</p>
    {% endfor %} {% endfor %}
  </div>
</div>

{% endblock content %}
