<div class="container-fluid bg-success">
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <h5 class="text-muted">About us</h5>
        <hr />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis fuga
          recusandae ducimus illo accusantium quo ex vitae minima alias, quam
          architecto, iure fugit magnam in.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <h5 class="text-muted">Trending News</h5>
        <hr />
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://images.squarespace-cdn.com/content/v1/5b18735a3917ee20d18a2117/724950ae-68b2-4c0b-9812-0128b7fe5efb/b9839cd791f871c956edeead6becda8e374277ae832aa265625d80a43dad4334.jpg"
                class="d-block w-100"
                alt="img1"
                {%
                load
                custom_tags
                %}
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi30i4AUqM8bFsmykaarM2KYGpSXb1JlfZUcvtdwDB-3uYCvWFM5y6oWCjnTEL-OfXG1A&usqp=CAU"
                class="d-block w-100"
                alt="img2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://d32qys9a6wm9no.cloudfront.net/images/movies/backdrop/f1/eee4b6b9b3c5cafae16b4dcb71331cc0_1280x720.jpg?t=1636109773"
                class="d-block w-100"
                alt="img3"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer float-sm-end mt5 text-center">
      <p>Build & Design by Baro Coding Team @ <span class="current"></span></p>
    </div>
  </div>
</div>
