{% load static %}

<div class="container-fluid bg-success">
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 shadow-lg">
        <h5 class="text-light">About us</h5>
        <hr />
        <h5>Django Somali News</h5>
        <p class="text-muted">
          Welcome to Django Somali News, your trusted source for news covering
          both Somali affairs and global events. Our mission is to provide
          accurate, timely, and insightful reporting, ensuring that our audience
          stays informed about the latest developments locally and
          internationally. We are committed to delivering balanced journalism,
          covering politics, business, culture, and social issues that matter
          most. Whether it's breaking news from Somalia or major world events,
          we bring you in-depth analysis and reliable updates. At Django Somali
          News, we believe in the power of information to inspire change and
          connect communities. Join us as we bring the world closer to you, one
          story at a time. Stay informed. Stay connected. Stay ahead. For
          inquiries, collaborations, or tips, contact us at +252619905901.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <h5 class="text-light">Trending News</h5>
        <hr />
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{% static 'images/xuutiyiin.webp'%}"
                class="d-block w-100"
                alt="img1"
                {%
                load
                custom_tags
                %}
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'images/dagaalBeledweyn.webp' %}"
                class="d-block w-100"
                alt="img2"
              />
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/duqeyn.webp' %}" alt="img3" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center py-2">
  <p>Build & Design by Baro Coding Team @ <span class="current"></span></p>
</div>
