<!-- Navbar Section -->
<div class="navbar navbar-expand-md bg-success navbar-light sticky-top">
  <div class="container">
    <a href="" class="navbar-brand text-light fw-bolder">Django Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link active">Category</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link active">Add Category</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link active">Add New Post</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link active">Welcome</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="" class="nav-link active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
